$font-family: "Poppins", sans-serif;

$bg-color: #2b2e3c;
$bg-card-color: rgba(255, 255, 255, 0.05);
$text-color: #fff;
$text-secondary-color: #868c9b;

$primary-color: #0f8bfd;
$secondary-color: #868c9b;
$success-color: #0bd18a;
$danger-color: #e73a3a;
