<div class="dashboard-wrapper">
  <app-title title="Trivia"></app-title>

  <div class="card">
    <app-select-button
      label="Difficulty"
      [options]="difficultyOptions"
      [(selected)]="difficultySelected"
    ></app-select-button>

    <app-select-button
      label="Type"
      [options]="answerTypeOptions"
      [(selected)]="answerTypeSelected"
    ></app-select-button>

    <app-select-button
      label="Number of questions"
      [options]="questionsCountOptions"
      [(selected)]="questionsCountSelected"
    ></app-select-button>

    <button
      class="btn btn-primary w-100 mt-30"
      routerLink="questions"
      [queryParams]="{
        difficulty: difficultySelected,
        questions: questionsCountSelected,
        type: answerTypeSelected
      }"
    >
      Start
    </button>
  </div>
</div>
